@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    box-sizing: border-box;
}

body{

    font-family: 'Poppins';

}

.container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

/* Start Landing Page */

.landing-page{

    position: relative;
    background: white;
}

.landing-page .header-area{
    display: flex;
    padding: 25px 0 0;
    position: relative;
}

.landing-page .header-area .logo{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
    width: 300px;
    color: grey;
}

.landing-page .header-area .links{

    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.landing-page .header-area .links li{
    display: inline-block;
    margin-left: 30px;
    color: rgb(241, 2, 2);
    cursor: pointer;
}

.landing-page .header-area .links li:hover{
    font-size: 20px;
}

.landing-page .header-area .links li:last-child{
    border: 0;
    border-radius: 20px;
    padding: 10px 18px;
    color: rgb(255, 255, 255);
    background-color: purple;
}

.landing-page .info{
    width: 35%;
    float: left;
    margin-top: 130px;
}

.landing-page .info h1{
    font-style: 45px;
    margin:  0 0 20px;
    line-height: 1.4;
    color: rgb(163, 4, 255);
}


.landing-page .info p{
    margin:  0 ;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}


.landing-page .info button{
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    font-weight: bold;
}

.landing-page .image{
    width: 50%;
    float: right;
    margin-top: 35px;
}

.landing-page .image img{
    max-width: 100%;
}

.clearfix{
    clear: both;
}